.headerNav  {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  position: relative;
}
.headerLogo {
  position: absolute;
  left: 20px;
  width: 100px;
  height: 60px;
  background-image: url('../../../imgs/headerLogo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.headerMenu {
  display: flex;
  list-style: none;
  gap: 100px;
}
.headerMenu a {
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.headerLogin {
  display: flex;
  align-items: center;
  gap: 40px;
}
.headerLoginIcon {
  width: 40px;
  height: 40px;
  background-image: url('../../../imgs/headerLogin.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
