.mainBackdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  .backdropLeft {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .backdropEventLeft {
      width: 100%;
      height: 100%;
      .backdropEventLeftLogoLeftLogo{
        width: 20%;
        height: 100%;
        background: url("../../../imgs/backdropLogoLeft.webp");
      }
    }
  }
  .backdropMiddle {
    height: 100%;
    border: black solid 1px;
  }
  .backdropRight {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .backdropEventRight {
      width: 100%;
      height: 100%;
      .backdropEventRightLogo {
        width: 20%;
        height: 100%;
        background: url("../../../imgs/backdropLogoRight.webp");
        justify-content: center;
        align-items: center;

      }
    }
  }
}
