.LoginPaper{
  width: 1120px;
  height: 100vh;
  background: url("../../../img/ww.jpg") no-repeat center/contain;
  display: flex;
  justify-content: center;
  align-items: center;
  .Login{

  }
}

